.aatrox {filter: grayscale(0%);}
.ahri {filter: grayscale(0%);}
.akali {filter: grayscale(0%);}
.akshan {filter: grayscale(0%);}
.alistar {filter: grayscale(0%);}
.amumu {filter: grayscale(0%);}
.anivia {filter: grayscale(0%);}
.annie {filter: grayscale(0%);}
.aphelios {filter: grayscale(0%);}
.ashe {filter: grayscale(0%);}
.aurelion_sol {filter: grayscale(0%);}
.azir {filter: grayscale(0%);}
.bard {filter: grayscale(0%);}
.belveth {filter: grayscale(0%);}
.blitzcrank {filter: grayscale(0%);}
.brand {filter: grayscale(0%);}
.braum {filter: grayscale(0%);}
.caitlyn {filter: grayscale(0%);}
.camille {filter: grayscale(0%);}
.cassiopeia {filter: grayscale(0%);}
.chogath {filter: grayscale(0%);}
.corki {filter: grayscale(0%);}
.darius {filter: grayscale(0%);}
.diana {filter: grayscale(0%);}
.dr_mundo {filter: grayscale(0%);}
.draven {filter: grayscale(0%);}
.ekko {filter: grayscale(0%);}
.ellise {filter: grayscale(0%);}
.evelynn {filter: grayscale(0%);}
.ezreal {filter: grayscale(0%);}
.fiddlesticks {filter: grayscale(0%);}
.fiora {filter: grayscale(0%);}
.fizz {filter: grayscale(0%);}
.galio {filter: grayscale(0%);}
.gankplank {filter: grayscale(0%);}
.garen {filter: grayscale(0%);}
.gnar {filter: grayscale(0%);}
.gragas {filter: grayscale(0%);}
.graves {filter: grayscale(0%);}
.gwen {filter: grayscale(0%);}
.hecarim {filter: grayscale(0%);}
.heimerdinger {filter: grayscale(0%);}
.illaoi {filter: grayscale(0%);}
.irelia {filter: grayscale(0%);}
.ivern {filter: grayscale(0%);}
.janna {filter: grayscale(0%);}
.jarvan {filter: grayscale(0%);}
.jax {filter: grayscale(0%);}
.jayce {filter: grayscale(0%);}
.jhin {filter: grayscale(0%);}
.kaisa {filter: grayscale(0%);}
.kalista {filter: grayscale(0%);}
.karma {filter: grayscale(0%);}
.karthus {filter: grayscale(0%);}
.kassadin {filter: grayscale(0%);}
.katarina {filter: grayscale(0%);}
.kayle {filter: grayscale(0%);}
.kayn {filter: grayscale(0%);}
.kennen {filter: grayscale(0%);}
.khazix {filter: grayscale(0%);}
.kindred {filter: grayscale(0%);}
.kled {filter: grayscale(0%);}
.kogmaw {filter: grayscale(0%);}
.leblanc {filter: grayscale(0%);}
.lee_sin {filter: grayscale(0%);}
.leona {filter: grayscale(0%);}
.lillia {filter: grayscale(0%);}
.lissandra {filter: grayscale(0%);}
.lucian {filter: grayscale(0%);}
.lulu {filter: grayscale(0%);}
.lux {filter: grayscale(0%);}
.malphite {filter: grayscale(0%);}
.malzahar {filter: grayscale(0%);}
.maokai {filter: grayscale(0%);}
.master_yi {filter: grayscale(0%);}
.miss_fortune {filter: grayscale(0%);}
.mordekaiser {filter: grayscale(0%);}
.morgana {filter: grayscale(0%);}
.nami {filter: grayscale(0%);}
.nasus {filter: grayscale(0%);}
.nautilus {filter: grayscale(0%);}
.neeko {filter: grayscale(0%);}
.nidalee {filter: grayscale(0%);}
.nilah {filter: grayscale(0%);}
.nocturne {filter: grayscale(0%);}
.nunu_and_willump {filter: grayscale(0%);}
.olaf {filter: grayscale(0%);}
.orianna {filter: grayscale(0%);}
.ornn {filter: grayscale(0%);}
.pantheon {filter: grayscale(0%);}
.poppy {filter: grayscale(0%);}
.pyke {filter: grayscale(0%);}
.qiyana {filter: grayscale(0%);}
.quinn {filter: grayscale(0%);}
.rakan {filter: grayscale(0%);}
.rammus {filter: grayscale(0%);}
.reksai {filter: grayscale(0%);}
.rell {filter: grayscale(0%);}
.renata_glasc {filter: grayscale(0%);}
.renekton {filter: grayscale(0%);}
.rengar {filter: grayscale(0%);}
.riven {filter: grayscale(0%);}
.rumble {filter: grayscale(0%);}
.ryze {filter: grayscale(0%);}
.samira {filter: grayscale(0%);}
.sejuani {filter: grayscale(0%);}
.senna {filter: grayscale(0%);}
.seraphine {filter: grayscale(0%);}
.sett {filter: grayscale(0%);}
.shaco {filter: grayscale(0%);}
.shen {filter: grayscale(0%);}
.shyvana {filter: grayscale(0%);}
.singed {filter: grayscale(0%);}
.sion {filter: grayscale(0%);}
.sivir {filter: grayscale(0%);}
.skarner {filter: grayscale(0%);}
.sona {filter: grayscale(0%);}
.soraka {filter: grayscale(0%);}
.swain {filter: grayscale(0%);}
.sylas {filter: grayscale(0%);}
.syndra {filter: grayscale(0%);}
.taliyah {filter: grayscale(0%);}
.talon {filter: grayscale(0%);}
.taric {filter: grayscale(0%);}
.teemo {filter: grayscale(0%);}
.tham_kench {filter: grayscale(0%);}
.thresh {filter: grayscale(0%);}
.tristana {filter: grayscale(0%);}
.trundle {filter: grayscale(0%);}
.tryndamere {filter: grayscale(0%);}
.twisted_fate {filter: grayscale(0%);}
.twitch {filter: grayscale(0%);}
.udyr {filter: grayscale(0%);}
.urgot {filter: grayscale(0%);}
.varus {filter: grayscale(0%);}
.vayne {filter: grayscale(0%);}
.veigar {filter: grayscale(0%);}
.velkoz {filter: grayscale(0%);}
.vex {filter: grayscale(0%);}
.vi {filter: grayscale(0%);}
.viego {filter: grayscale(0%);}
.viktor {filter: grayscale(0%);}
.vladimir {filter: grayscale(0%);}
.volibear {filter: grayscale(0%);}
.warwick {filter: grayscale(0%);}
.wukong {filter: grayscale(0%);}
.xayah {filter: grayscale(0%);}
.xerath {filter: grayscale(0%);}
.xin_zaoh {filter: grayscale(0%);}
.yasuo {filter: grayscale(0%);}
.yone {filter: grayscale(0%);}
.yorick {filter: grayscale(0%);}
.yuumi {filter: grayscale(0%);}
.zac {filter: grayscale(0%);}
.zed {filter: grayscale(0%);}
.zeri {filter: grayscale(0%);}
.ziggs {filter: grayscale(0%);}
.zilean {filter: grayscale(0%);}
.zoe {filter: grayscale(0%);}
.zyra {filter: grayscale(0%);}